
.carouselImg {
  height: 60vh;              
  object-fit: cover;        
  filter: brightness(85%);   
}

.carouselCaption {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}


.carouselCaption h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.carouselCaption p {
  font-size: 1rem;
  color: #eaeaea;
}




